@import url("https://fonts.googleapis.com/css2?family=Karla:wght@400;700&display=swap");

$cyan-color: hsl(179, 62%, 43%);
$light-cyan-color: hsl(179, 47%, 52%);
$bright-yellow-color: hsl(71, 73%, 54%);
$grayish-blue-color: hsl(218, 22%, 67%);
$light-gray-color: hsl(204, 43%, 93%);

html {
  font-size: 16px;
  font-family: "Karla", sans-serif;
}

body {
  background-color: $light-gray-color;
  @media screen and (min-width: 768px) {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

h1 {
  font-size: 1.2rem;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  margin: 2rem;
  border-radius: 0.4rem;
  overflow: hidden;
  box-shadow: 0 25px 50px -12px hsla(0, 0%, 0%, 0.25);

  @media screen and (min-width: 768px) {
    max-width: 680px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    display: grid;
    grid-template-areas: "community community" "subscription about";
  }
}

.community {
  background-color: white;
  padding: 2rem;

  &__heading {
    color: $cyan-color;
    font-weight: 700;
  }

  &__return {
    color: $bright-yellow-color;
  }

  &__description {
    line-height: 1.6rem;
    color: $grayish-blue-color;
    font-size: 0.9rem;
  }

  grid-area: community;

  @media screen and (min-width: 768px) {
    &__heading {
      font-size: 1.8rem;
    }

    &__return {
      margin-top: 2rem;
    }
  }
}

.subscription {
  background-color: $cyan-color;
  padding: 2rem;

  &__heading {
    color: white;
  }

  &__price {
    display: flex;
    align-items: center;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    span {
      margin-left: 0.6rem;
      font-size: 1rem;
      color: $light-gray-color;
    }
  }

  &__description {
    color: $light-gray-color;
  }

  &__button {
    width: 100%;
    border: none;
    border-radius: 0.4rem;
    padding: 1rem;
    color: white;
    font-weight: 700;
    background-color: $bright-yellow-color;
    box-shadow: 0 25px 50px -12px hsla(0, 0%, 0%, 0.25);
    cursor: pointer;
    transition: ease-in-out 150ms;

    &:hover {
      transform: translateY(-0.2rem) scale(102%);
    }
  }

  grid-area: subscription;
}

.about {
  background-color: $light-cyan-color;
  padding: 2rem;

  &__heading {
    color: white;
  }

  &__list {
    padding: 0;
    font-size: 0.9rem;
    list-style-type: none;
    color: $light-gray-color;

    li {
      margin-top: 0.2rem;
    }
  }

  grid-area: about;
}
